.mainDiv{
    background-color: orange;
    padding: 5px;
}

.heading{
    text-align: center;
}

.userDiv{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}
.userDiv p{
    background-color: rgba(132, 129, 129, 0.319);
    padding: 5px;
    border-radius: 10px;
}

.btn{
    height: max-content;
}

.hideUserDiv{
    display: none;
}